In [1]:
a=10
b=20
a
b

20

In [3]:
print(a)
print(b)

10
20

In [5]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [16]:
num1=20
num2=30
sum=num1+num2
print(sum)

50

In [14]:
print("The addition of num1: ", num1 , "and num2:", num2, "is add:", sum)

The addition of num1:  20 and num2: 30 is add: 50

In [23]:
name='Sanvik'
age=11
city='Banglore'
print("Hello My Name is", name, "age is ", age , ' and city is ', city)

Hello My Name is Sanvik age is  11  and city is  Banglore

In [25]:
print('The addition of {} and {} is= {}'.format(num1,num2,add))

The addition of 20 and 30 is= 50

In [29]:
print('hello my name is {}, and i am {} years old from {} '.format(name,age,city))

hello my name is Sanvik, and i am 11 years old from Banglore

In [33]:
num1=100 
num2=25 
num3=333 
num1=20 
num2=30 
avg=(num1+num2+num3)/3 # or we can use avg=round(num1+num2+num3)/3,2) 
avg1=round((num1+num2+num3)/3,2) 
# The avrage of num1,num2,num3 is = avg 
print('The avrage of {}, {}, and {} is= {} or {}'.format(num1,num2,num3, 
avg,avg1)) # here we can use round(avg,2) also

The avrage of 20, 30, and 333 is= 127.66666666666667 or 127.67

In [40]:
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 20 and 30 is= 50

In [42]:
print(f'Hello my name is {name} , age is { age} and city is {city} .')

Hello my name is Sanvik , age is 11 and city is Banglore .

In [46]:
print(f'the average of num1 {num1} , num2 {num2} and num3 {num3} is {avg} ')

the average of num1 20 , num2 30 and num3 333 is 127.66666666666667

In [48]:
print( "the addition of num1 ", num1,' and num2', num2, 'is sum', sum)

the addition of num1  20  and num2 30 is sum 50

In [58]:
print( 'the addition of num1 {} and num2 {} is sum {} '.format(num1,num2,sum))

the addition of num1 20 and num2 30 is sum 50

In [62]:
print(f'the addition of num1 {num1} and num2 {num2} is sum {sum}')

the addition of num1 20 and num2 30 is sum 50

In [64]:
print('hello', end=' ') # 1st statement 
print('world good day') # 2nd statement

hello world good day

In [66]:
print('hello','hai','how are you',sep='--->')

hello--->hai--->how are you

In [68]:
print('hello','hai','how are you',sep='&')

hello&hai&how are you

In [70]:
print(3,'.') # . is far from 3 so here we will use sep method

3 .

In [80]:
print(3, '.', sep='') #see now space setteld(also use to remove space B/W words)

3.

In [88]:
print(1,2,end=" ")
print(3, '.', sep="")

1 2 3.