In [1]:
1 + 1 # ADDITION

2

In [3]:
2-1

1

In [5]:
3*4

12

In [7]:
8 / 4 # Division

2.0

In [9]:
8 / 5 #float division

1.6

In [11]:
8/4 ## float division

2.0

In [13]:
8 // 4 #integer division

2

In [15]:
8 + 9 - 7

10

In [17]:
8 + 8 - #syntax error:

SyntaxError: invalid syntax (1452213586.py, line 1)

In [19]:
5 + 5 * 5

30

In [21]:
(5 + 5) * 5 # BODMAS (Bracket || Oders || Divide || Multiply || Add || Substact)

50

In [23]:
2 * 2 * 2 * 2 * 2 # exponentaion

32

In [25]:
2 * 5

10

In [27]:
2 ** 5

32

In [29]:
15 / 3

5.0

In [31]:
10 // 3

3

In [33]:
15 % 2 # Modulus

1

In [35]:
10 % 2

0

In [37]:
15 %% 2

SyntaxError: invalid syntax (1768330815.py, line 1)

In [41]:
3 + 'nit'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [43]:
a,b,c,d,e = 15, 7.8, 'nit', 8+9j, True

print(a)
print(b)
print(c)
print(d)
print(e)

15
7.8
nit
(8+9j)
True

In [45]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [47]:
type(c)

str

- So far we code with numbers(integer) 
- Lets work with string

In [49]:
'Naresh IT'

'Naresh IT'

In [51]:
print('Max it')

Max it

In [53]:
"max it technology"

'max it technology'

In [55]:
s1 = 'max it technology'
s1

'max it technology'

In [57]:
a = 2
b = 3
a + b

5

In [59]:
c = a + b
c

5

In [61]:
a = 3
b = 'hi'
type(b)

str

In [63]:
print('max it's"Technology"') # \ has some special meaning to ignore the error

SyntaxError: unterminated string literal (detected at line 1) (1294101388.py, line 1)

In [77]:
print('max it\'s  "Technology"') #\ has some special meaning to ignore the error

max it's  "Technology"

In [67]:
print('max it',  'Technology')

max it Technology

In [71]:
print("max it',  'Technology")

max it',  'Technology

In [79]:
# print the nit 2 times 
'nit' + ' nit'

'nit nit'

In [81]:
'nit'  ' nit'

'nit nit'

In [83]:
#5 time print
5 * 'nit'

'nitnitnitnitnit'

In [85]:
5*' nit' # soace between words

' nit nit nit nit nit'

In [87]:
print('c:\nit') #\n -- new line

c:
it

In [89]:
print(r'c:\nit') #raw string

c:\nit

In [ ]:
2

In [91]:
x = 2 #x is variable/identifier/objec, 2 is the value
x

2

In [93]:
x + 3

5

In [95]:
y = 3
y

3

In [97]:
x + y

5

In [99]:
x = 9
x

9

In [101]:
x + y

12

In [149]:
x + 10

39

In [151]:
_

'{"dataframes": [], "user": "Lenovo"}'

In [107]:
_ + y

TypeError: can only concatenate str (not "int") to str

In [131]:
_ + y

TypeError: can only concatenate str (not "int") to str

In [123]:
_ + y

TypeError: can only concatenate str (not "int") to str

In [133]:
y

3

In [153]:
_ + y

TypeError: can only concatenate str (not "int") to str

In [155]:
_ + y

TypeError: can only concatenate str (not "int") to str

In [157]:
_ + y

TypeError: can only concatenate str (not "int") to str

In [161]:
# string variable 
name = 'mit'

In [163]:
name

'mit'

In [165]:
name + 'technology'

'mittechnology'

In [ ]:
name + ' technology'

In [167]:
name 'technology'

SyntaxError: invalid syntax (3186014715.py, line 1)

In [169]:
name

'mit'

In [171]:
len(name)

3

In [173]:
name[0] #python index begins with 0

'm'

In [175]:
name[5]

IndexError: string index out of range

In [177]:
name[7]

IndexError: string index out of range

In [179]:
name[-1]

't'

In [181]:
name[-2]

'i'

In [183]:
name[-6]

IndexError: string index out of range

## slicing

In [185]:
name

'mit'

In [187]:
name[0:1] #to print 2 character

'm'

In [189]:
name[0:2]

'mi'

In [191]:
name[1:4]

'it'

In [193]:
name[1:]

'it'

In [195]:
name[:4]

'mit'

In [197]:
name[3:9]

''

In [199]:
name

'mit'

In [201]:
name1 = 'fine' # change the string fine to dine 
name1

'fine'

In [203]:
name1[0:1]

'f'

In [205]:
name1[0:1] = 'd' # i want to change 1st character of naresh (n) - t

TypeError: 'str' object does not support item assignment

In [207]:
name1[0] = 'd' #strings in python are immutable

TypeError: 'str' object does not support item assignment

In [209]:
name1

'fine'

In [211]:
name1[1:]

'ine'

In [213]:
'd' + name1[1:] #i want to change fine to dine

'dine'

In [217]:
name1.insert(2,'nit') #insert the value as per index values i.e 2nd index we are assigning nit

AttributeError: 'str' object has no attribute 'insert'

### introduce to ID()

In [219]:
# variable address
num = 5
id(num)

140713569823288

In [221]:
name = 'nit'
id(name) #Address will be different for both

2543153566688

In [223]:
a = 10
id(a)

140713569823448

In [227]:
b = a #thats why python is more memory efficient

In [231]:
id(b)

140713569823448

In [233]:
id(10)

140713569823448

In [235]:
k = 10 
id(k)

140713569823448

In [243]:
a = 20  # as we change the value of a then address will change
id(a)

140713569823768

In [244]:
id(b)

140713569823448

In [245]:
PI = 3.14  #in math this is alway constant but python we can chang
PI

3.14

In [249]:
PI = 3.15
PI

3.15

In [255]:
type(PI)

float

## Arithmetic operator

In [257]:
x1, y1 = 10, 5

In [259]:
#x1 ^ y1

In [271]:
x1  + y1

15

In [263]:
x1 - y1

5

In [265]:
x1 * y1

50

In [267]:
x1 / y1

2.0

In [269]:
x1 // y1

2

In [273]:
x1 % y1

0

In [275]:
x1 ** y1

100000

In [277]:
x2 = 3
y2 = 2
x2 ** y2

9

## Assignment operator

In [279]:
x = 2

In [281]:
x = x + 2 # if you want to increment by 2

In [283]:
x

4

In [285]:
x += 2
x

6

In [287]:
x += 2
x

8

In [289]:
x *= 2

In [291]:
x

16

In [293]:
x -= 2

In [295]:
x

14

In [297]:
x /= 2
x

7.0

In [301]:
x //= 2
x

1.0

In [303]:
a, b = 5,6 # you can assigned variable in one line as well

In [305]:
a

5

In [307]:
b

6

In [309]:
n = 7 #negattion
n

7

In [311]:
m = -(n)
m

-7

In [313]:
n

7

In [315]:
-n

-7

# Relational operator 
we are using this operator for comparing

In [317]:
a = 5
b = 6

In [319]:
a<b

True

In [321]:
a>b

False

In [323]:
# a = b # we cannot use = operatro that means it is assigning

In [325]:
a == b

False

In [327]:
a != b

True

In [329]:
# hear if i change b = 6
b = 5

In [331]:
a == b

True

In [333]:
a

5

In [335]:
b

5

In [337]:
a >= b

True

In [339]:
a <= b

True

In [341]:
a < b

False

In [343]:
a>b

False

In [345]:
b = 7

In [347]:
a != b

True

In [352]:
a = 5
b = 4

In [354]:
a < 8 and b < 5 #refer to the truth table

True

In [356]:
a < 8 and b < 2

False

In [358]:
a < 8 or b < 2

True

In [364]:
a>8 or b<2

False

In [365]:
x = False
x

False

In [370]:
not x  # you can reverse the operation

True